<!DOCTYPE html>
<html>
<head>
<style>
<!--  My UX Skills section coded using CSS flex -->

#flexContainer {
    diplay: flex; 
    flex-wrap: nowrap;  
}

.flexContainer > div {
    background-color: #47a9c7;
    width: 33%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 1px solid #000000;
  }
  
  #main {
    width: 400px;
    height: 400px;
    
    display: flex;
    
  }
  </style>

  
 
